/*Configurações padrões em todos os formatos*/
footer{
	padding:5px;
	text-align: center;
	clear:both;
	background-color:#D5A357;
	color:#442819;
	letter-spacing: 5px;
	line-height: 1.6;
}

body{
	width:100%;
	margin: 0 auto;	
	background-color:#442819;
	font-family: Courier New, monospace;
	line-height: 1.6;
}

/*Para telas muito pequenas*/
@media screen and (max-width: 420px){
	#wrapper{
	width:100%;
	margin: 0 auto;	
}
	header{
	display: flex;
	flex-flow: column nowrap;
	clear:both;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

nav {
	display: flex;
	flex-flow: column nowrap;
}

nav a{
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #D5A357;
	color: #D5A357;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	letter-spacing: 3px;
}

#quadroreceitas{
	margin-top: 30px;
	margin-bottom: 30px;
}
/*Sistema para fazer o nome do prato aparecer quando o mouse passa por cima da imagem*/
/*Retirado do site W3Schools*/

.container {
    position: relative;
    width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/*A classe .middle é a responsável por alinhar o texto no centro da imagem*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*Muda a opacidade da imagem quando o mouse passa por cima*/
.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #F2D8A7;
  font-size: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
}

/*Celular*/
@media screen and (min-width: 420px)and (max-width: 600px){ 
#wrapper{
	width:100%;
	margin: 0 auto;	
}
	header{
	display: flex;
	flex-flow: column nowrap;
	clear:both;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:70%;
}

nav {
	display: flex;
	flex-flow: column nowrap;
}

nav a{
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #D5A357;
	color: #D5A357;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	letter-spacing: 3px;
}	

#quadroreceitas{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
}

.container {
    position: relative;
    width: 47.5%;
	padding:5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #F2D8A7;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 992px){ 
	#wrapper{
	margin-left: 10%;
	margin-right: 10%;
}

	header{
	clear:both;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	margin: 30px;
}

nav a{
	width: 30%;
	margin: 10px;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #D5A357;
	color: #D5A357;
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
}
/*Organiza as imagens lado a lado em forma de tabela*/
/*O flex-flow row wrap faz com que as imagens se posicionem em uma linha e, caso ela não caiba na linha por causa do tamanho, ela passa para a linha de baixo*/
#quadroreceitas{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
}

.container {
    position: relative;
    width: 45%;
	padding:5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #F2D8A7;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
}

/*Desktop*/
@media screen and (min-width: 992px){ 
	
#wrapper{
	margin-left: 10%;
	margin-right: 10%;
}

header{
	display: flex;
	flex-flow: row nowrap;
	clear:both;
}

header img{
	display: block;
	margin-left:50px;
	margin-top:20px;
	width:20%;
	height:20%;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	margin: 20px;
	margin-top:40px;
	margin-left: 50px;
	width: 60%;
}

nav a{
	width: 30%;
	margin:20px;
	padding:10px;
	border-style: solid;
	border-width: 2px;
	border-color: #D5A357;
	color: #D5A357;
	text-decoration: none;
	text-align: center;
	letter-spacing: 3px;
}

#quadroreceitas{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
}

.container {
    position: relative;
    width: 30%;
	padding:5px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #F2D8A7;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

}
